.squaresOn{	
	background-color: #666;		
}

.squares{
	margin: 0px;	
	/*border: 1px solid black;*/
}

#reset{
	float: bottom;	
}

#container{
	border: 1px solid black;	
}
#thetable{
	padding: -1px;
	margin: 0px;
	border-collapse: collapse;
}
.buttons{
	float: bottom;
	clear: both;
	
}